.DS_Store
.env*
.flaskenv
*.pyc
*.pyo
venv/
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__
.env_file
setup.sh
db_data.sh
db_data.sql
run_db_clear.sh

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Direnv
.envrc
.direnv

.github/**
